.chatwindow {
  height: 100vh;
  max-width: 100%;

  .friend-infor {
    display: flex;
    height: 10vh;
    min-height: 60px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(230, 230, 230);
  }

  .friend-infor,
  .friend,
  .me {
    .avatar {
      font-size: 20px;

      img {
        border-radius: 50%;
        width: 40px;
      }
    }
  }

  .chat-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .conversation {
      height: 80vh;
      overflow-y: scroll;

      .message {
        display: inline-block;
        background: #32465a;
        padding: 5px 10px;
        color: #fff;
        border-radius: 10px;
        margin: 5px;
      }
    }

    .text-input {
      height: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2px 2px 2px 0;
      border: 1px solid 1px solid #ccc;
      border-radius: 2px;

      button {
        background-color: #32465a;
        color: #fff;
      }
    }
  }
}
