// html {
//   height: 100%;
//   background-color: #ebebeb;
// }
.login-page {
  height: 100%;
  width: 560px;
  max-height: 100%;
  margin: 20px auto;
  text-align: center;
  // background-color: #fff;
  // border-radius: 10px;

  p {
    text-align: center;
    margin-top: 30px;
  }
}
